section:nth-child(2n) {
  background-color: aliceblue;
}

section:nth-child(2n+1) {
  background-color: gray;
}

/* Flexbox */
main {
  display:flex;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

section {
  flex-grow: 1;
}

#datosgenerales {
  flex-basis: 100%;
}

#proyectosanteriores, #habilidadesprogramacion, #trabajosanteriores {
  flex-basis: 32%;
}

#habilidadespersonales, #conocimientos, #idiomas, #medioscontacto {
  flex-basis: 49%;
}